*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: large;
    border: none;
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: grid;
    place-content: center;
    height: 70vh;
}

.calc{
    flex-direction: column;
    background-color: #eee;
    border: 3px solid #bbb;
    width: 230px;
    border-radius: 5px;
}

.div-nome{
    width: 220px;
}

.div-display{
    width: 220px;
}

.display{
    width: 220px;
    background-color: #8a8;
    text-align: right;
    padding: 5px;
    font-family: monospace;
    font-size: larger;
}

.div-teclas{
    width: 220px;
    flex-wrap: wrap;

}

.tecla{
    background-color: #aaa;
    border: 3px solid #888;
    font-weight: bold;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    margin: 2px;
}

.teclaOp{
    background-color: #f44 !important;
    border-color: #800 !important;

}

.ctrl{
    background-color: #1e1 !important;
    border-color: #1a1;
}

button{
    transition: .3s ease;
}

button:hover{
    filter: brightness(70%)
}